<form [formGroup]="personalInfoForm" (ngSubmit)="onSubmit()">

    <!-- FirstName input -->
    <div class="mb-3 pb-1">
      <mdb-form-control>
        <input formControlName="firstName" mdbValidate mdbInput type="text" id="typeFirstName" class="form-control"/>
        <label mdbLabel class="form-label" for="typeFirstName">First Name</label>
      </mdb-form-control>
    </div>
  
    <!-- LastName input -->
    <div class="mb-3 pb-2">
      <mdb-form-control>
        <input formControlName="lastName" mdbValidate mdbInput type="text" id="typeLastName" class="form-control" />
        <label mdbLabel class="form-label" for="typeLastName">Last Name</label>
      </mdb-form-control>
    </div>
  
    <!-- Sex input -->
    <div [ngClass]="_gender.invalid ? 'error' : ''" class="mb-3 input-group flex-nowrap">
        <span class="input-group-text span-radio-sex">Sex</span>
        <div class="input-group-text input-radio-sex">
            <input formControlName="gender" type="radio" name="gender" id="male" value="male" class="form-check-input" />
            <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="input-group-text input-radio-sex">
            <input formControlName="gender" type="radio" name="gender" id="female" value="female" class="form-check-input" />
            <label class="form-check-label" for="female">Female</label>
        </div>
    </div>


    <!-- Birthday input -->
    <div class="mb-3 pb-2 input-group flex-nowrap">
        <span class="input-group-text">Birthday</span>
        <mdb-form-control class="input-group-text">
          <input formControlName="dayBirthday" mdbInput type="number" id="inputDayBirthday" class="form-control" />
          <label mdbLabel class="form-label" for="inputDayBirthday">DD</label>
        </mdb-form-control>
        <mdb-form-control>
          <input formControlName="monthBirthday" mdbInput type="number" id="inputMonthBirthday" class="form-control" />
          <label mdbLabel class="form-label" for="inputMonthBirthday">MM</label>
        </mdb-form-control>
        <mdb-form-control>
          <input formControlName="yearBirthday" mdbInput type="number" id="inputYearBirthday" class="form-control" />
          <label mdbLabel class="form-label" for="inputYearBirthday">YYYY</label>
        </mdb-form-control>
    </div>

    <!-- Favorite ocean input -->
                <!-- <mdb-select-option *ngFor="let option of options" [value]="option.value">
                {{ option.label }}
            </mdb-select-option> -->
    <div class="mb-3 pb-2 input-group flex-nowrap">
        <span class="input-group-text">Your favorite ocean</span>
        <select class="select ocean-select">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
            <option value="6">Six</option>
            <option value="7">Seven</option>
            <option value="8">Eight</option>
        </select>
    </div>


    <!-- Change SignUp -->
    <button type="button" (click)="backToSignUp()"  class="btn btn-outline-primary btn-block mb-4">Change SignUp Information</button>

    <!-- Complete button -->
    <button type="submit"  class="btn btn-primary btn-block mb-4">Complete</button>

</form>
