<header class="wrap-header">
    <div class="logo-nav">
        <div class="header-logo"></div>

        <div class="header-nav">
          <ul class="nav-items">
            <li class="nav-item">
                <a class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Contacts</a>
            </li>
          </ul>
        </div>
    </div>
  
  <nav class="header-auth">
      <div class="auth-items">
        <button type="button" class="btn btn-secondary">Login</button>
        <button type="button" class="btn btn-outline-secondary">Registration</button>
      </div>
  </nav>

</header>