.wrap-page {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header,
.footer {
  height: 50px;
}
.main {
  height: calc(100vh - 90px);
  overflow: scroll;
}
